<div class="tabs">
  <a
    routerLink="bookmarks"
    routerLinkActive="selected"
    class="tab bookmarks-tab"
  >
    <div class="tab-title">
      <fa-icon [icon]="faBookmark"></fa-icon>
    </div>
  </a>
  <a routerLink="todos" routerLinkActive="selected" class="tab todo-tab">
    <div class="tab-title">
      <fa-icon [icon]="faCheck"></fa-icon>
    </div>
  </a>
  <a routerLink="notes" routerLinkActive="selected" class="tab notes-tab">
    <div class="tab-title">
      <fa-icon [icon]="faBars"></fa-icon>
    </div>
  </a>
</div>
