<div class="add-bookmark-wrapper container has-blurred-white-bg">
  <h2 class="is-bold">Add Bookmark</h2>
  <form #form="ngForm" ngNativeValidate (ngSubmit)="onFormSubmit(form)">
    <div class="form-field">
      <label class="form-label">Name</label>
      <input
        class="textbox"
        type="text"
        placeholder="e.g. wikipedia"
        ngModel
        name="name"
        #name="ngModel"
      />
    </div>
    <div class="form-field">
      <label class="form-label">URL</label>
      <input
        class="textbox"
        type="url"
        placeholder="e.g. https://wikipedia.com"
        ngModel
        name="url"
        #url="ngModel"
        required
      />
    </div>
    <div class="btns-container">
      <a routerLink="../" class="btn">Cancel</a>
      <button class="btn align-end">Create Bookmark</button>
    </div>
  </form>
</div>
