<div class="edit-todo-wrapper container has-blurred-white-bg">
  <h2 class="is-bold">Edit Todo</h2>
  <p *ngIf="!todo">Todo not found</p>
  <form #form="ngForm" *ngIf="todo" (ngSubmit)="onFormSubmit(form)">
    <div class="form-field">
      <input
        class="textbox"
        type="text"
        placeholder="Enter todo text..."
        [ngModel]="todo.text"
        name="text"
        required
        #text="ngModel"
      />
      <p *ngIf="text.touched && !text.valid">
        Please enter some text for this todo!
      </p>
    </div>
    <div class="btns-container">
      <a routerLink="../" class="btn">Cancel</a>
      <button class="btn align-end">Save Todo</button>
    </div>
  </form>
</div>
